# MongoDB Connection URI
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/snotes

# JWT Secret Key for Session Authentication
JWT_SECRET=your_jwt_secret_key_here

# Next.js Application Base URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
